.root {
	@apply h-16 flex gap-2 items-center justify-between px-6 py-3 shadow-xl bg-slate-50;
	position: sticky;
	top: 0;
	z-index: 10;
	.menu {
		display: none;
		@apply cursor-pointer w-8 min-h-8;
		@media only screen and (max-width: 64rem) {
			display: block;
		}
	}
}
